<form action="/recipes" method="post">

    <input type="text" name="name" id="name" placeholder="Recipe Name"/></br></br>

    <input type="text" name="ingredients" id="ingredients" placeholder="Ingredients"/></br></br>

    <input type="text" name="cook_time" id="cook_time" placeholder="Cook Time"/></br></br>

    <input type="submit" value="Submit"/>

</form>