<h1>Create a New Recipe!</h1>

<form action="/recipes" method="POST">
    <label for="name">Recipe Name: </label>
    <input type="text" id="name" name="name" /><br><br>

    <label for="ingredients">Ingredients Needed: </label>
    <input type="text" id="ingredients" name="ingredients" /><br><br>

    <label for="cook_time">Cook Time: </label>
    <input type="text" id="cook_time" name="cook_time" /><br><br>

    <input type="submit"> or <a href='/'>Exit Form</a>

</form> 
