<form method="POST" action="/recipes">
<p>Name :<input type="text" id="name" name="name"/></p>
<p>Ingredients :<input type="text" id="ing" name="ingredients"/></p>
<p>Cook Time :<input type="text" id="time" name="cook_time"/></p>
<input type="submit" value="Submit"/>
</form>