<form method="post" action="/recipes">
    Recipe Name: <br> 
    <input type="text" name="name"> <br>
    Ingredients: <br>
    <input type="text" name="ingredients"> <br>
    Cooking Time (mins): <br>
    <input type="number" name="cook_time"> <br>
    <br>
    <input type="submit" value="Submit">
</form>